
@import url('https://fonts.cdnfonts.com/css/cursed-timer-ulil');

body {
    margin: 0;
    
}

.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;                       
    padding: 20px;
    justify-content: space-around;
    max-width: 80%;
    width: 575px;
    height: 384px;
    background-color: #78350F;
    margin: auto;
    border: 2px solid #4C1D95;
}
h3{
    font-size: xx-large;
    text-align: center;
    margin: 0;
    color: azure;
}

button {
    background-color: #78350F;
    border: 2px solid #D97706; 
    width: 45px;  
    height: 45px;
    color: #D97706;
}

.column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.score {
    background-color: black;
    font-family: 'Cursed Timer ULiL', sans-serif;
    font-size: 90px;
    color: #4C1D95;
    width: 120px;
    margin: 20px;
    text-align: center;
    padding: 8px;
}
#reset-btn{
    width: 100px;
    background-color: #B45309;
    border-radius: 10px;
    color: azure;
    padding: 5px;
}
.footer-row {
    grid-column: span 2;                
    text-align: center;                 
    margin-top: 10px;
}